body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
body, header {
    color: white;
    background-color: #174c4f;
}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: rgb(233, 151, 151);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}

#mainLogo {
    height: 500px;
    width: 500px;
}


.profile {
    background: url("../images/profilepic.jpg") no-repeat;
    background-size: 120px;
    height: 126px;
}

.profile:hover {
    background: url("../images/profilepic_h.jpg") no-repeat;
    background-size: 120px;
}

.aboutpic {
    float: left;
    display: inline;
    width: 200px;
    margin: 10px 20px 20px 0;
}

.lnav, nav {
    background-color: #336669!important;
}

.lnav:hover {
    color: white!important;
    background-color: #174c4f!important;
}

.portfolio-container {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    white-space: nowrap;
    /* background-color: white; */
}

.portfolio-container:hover {
    box-shadow: 0 0 3px #FF0000, 0 0 5px gold;
}

.portfolio-label {
    position: absolute;
    top: 50%;
    /* left: 16px; */
    width: 100%;
    display: flex;
    background-color: #336669;
    /* z-index: 5; */
    opacity: .90;
    border-top: 1px solid #174c4f;
    border-bottom: 1px solid #174c4f;
}

.portfolio-label > a {
    text-decoration: none;
    /* font-weight: bold; */
}

.portfolio-label:hover{
    border-top: 1px solid #35174f;
    border-bottom: 1px solid #35174f;
    color: gold;
    background-color: #174c4f;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 640px) {
    #main {margin-left: 0}

    #mainLogo {
        height: 200px;
        width: 200px;
    }

    .portfolio-label {
        font-size: 10;
    }
}

